.sidebar {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
}

.sidebar>a:first-child {
    padding: 0;
}

.sidebar>a>img {
    width: 100%;
    transition: all 0.5s;
}

.sidebar>a>img:hover {
    filter: drop-shadow(0 0 10px #3BB77E);
}

.sidebar a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.493);
    font: 200 1rem "Roboto";
    padding: 2rem;
    transition: all 0.5s;
}

.treeView {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.493);
    font: 200 1rem "Roboto";
    padding: 2rem;
    transition: all 0.5s;
}

.treeItem {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.493);
    font: 200 1rem "Roboto";
    padding: 2rem;
    transition: all 0.5s;
}

.treeItem>a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.493);
    font: 200 1rem "Roboto";
    padding: 2rem;
    transition: all 0.5s;
}

.treeItem :hover {
    color: #3BB77E;
}

.treeItem>a :hover {
    color: #3BB77E;
}

.treeItem1 {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.493);
    font: 200 1rem "Roboto";
    padding: 2rem;
    transition: all 0.5s;
}

.treeItem2 {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.493);
    font: 200 1rem "Roboto";
    padding: 2rem;
    transition: all 0.5s;
}

.sidebar a:hover {
    color: #3BB77E;
    transform: scale(1.1);
}

.sidebar a>P {
    display: flex;
    align-items: center;
}

.sidebar a>p>svg {
    margin-right: 0.5rem;
}

.MuiTypography-root {
    background-color: #fff !important;
}